<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
  <title>채팅방 리스트</title>
</head>
<div layout:fragment="content">
  <h1 class="my-4">채팅방 리스트</h1>
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card" id="chat1" style="border-radius: 15px;">
          <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <i class="fas fa-angle-left"></i>
            <div class="fw-bold">WebSocket 채팅방
            </div>
            <i class="fas fa-times"></i>
          </div>
          <div class="card-body" id="chattingCont">
          </div>
          <form name="sendMsgForm" class="input-group">
            <input type="hidden" name="crId" th:value="${roomId}">
            <input type="hidden" name="nickname" value="경민">
            <input type="hidden" name="status" value="CHAT">
            <input type="hidden" name="uId" th:value="${session.loginUser.uId}">
            <textarea class="form-control w-50" name="content" rows="2"></textarea>
            <button class="btn btn-info disabled" name="submitBtn">전송</button>
          </form>
        </div>
        <form name="connForm" class="input-group my-4 mx-auto w-75">
          <input type="hidden" name="crId" th:value="${roomId}">
          <input type="hidden" name="status" value="ENTER">
          <input type="hidden" name="uId" th:value="${session.loginUser.uId}">
          <input type="hidden" name="content" value="입장하십니다.">
          <strong class="input-group-text">채팅방 입장</strong>
          <div class="form-floating">
            <input class="form-control h-100" name="nickname" value="경민" placeholder="유저">
            <label th:text="${session.loginUser.uId}+' 닉네임'"></label>
          </div>
          <button class="btn btn-primary" name="submitBtn">
            접속
          </button>
        </form>
      </div>
    </div>
  </div>
<script th:inline="javascript">
  const LOGIN_U_ID=[[${session.loginUser.uId}]];
  const ROOM_ID=[[${roomId}]];
  const LIST_URL=`/chat/msg/${ROOM_ID}/list.do`;
  const SEND_URL=`/chat/msg/register.do`;
  const connForm=document.forms["connForm"];
  const sendMsgForm=document.forms["sendMsgForm"];
  const chattingCont=document.getElementById("chattingCont");
  let lastPostTime;
  let lastCmId;
  document.addEventListener("DOMContentLoaded",async (e)=>{
    await autoLoadChat();
  });
  sendMsgForm.onsubmit=async (e)=>{
    e.preventDefault();
    let register=await registerMsg(sendMsgForm);
    if(register>0){
      await loadChatMsgs(lastPostTime);
    }
  }
  connForm.onsubmit=async (e)=>{
    e.preventDefault();
    connForm.submitBtn.classList.add("disabled");
    sendMsgForm.submitBtn.classList.remove("disabled");
    sendMsgForm.nickname.value=connForm.nickname.value;
    let register=await registerMsg(connForm);
    if(register>0){
      await loadChatMsgs(lastPostTime);
    }
  }

  async function autoLoadChat(){
    let status=await loadChatMsgs(lastPostTime);
    await new Promise((resolve)=>{setTimeout(()=>{resolve()},5000)});
    await autoLoadChat();
  }



  async function registerMsg(fromNode){
    const data=new FormData(fromNode);
    const response=await fetch(SEND_URL,{method:"POST",body:data});
    if(response.status===200){
      return  register=await response.text();
    }
  }

  async function loadChatMsgs(postTime){
    let listUrl=LIST_URL;
    if(postTime){
      listUrl+=`?postTime=${postTime}`;
    }
    console.log(listUrl);
    const response=await fetch(listUrl);
    if(response.status===200){
      const msgs=await response.json();
      msgs.forEach((msg,i)=>{
        if(i===msgs.length-1){
          lastPostTime=msg.postTime;
          lastCmId=msg.cmId;
        }
        if(msg.status==="CHAT"){
          if(msg.uId===LOGIN_U_ID){
            chattingCont.insertAdjacentHTML("beforeend",sendMsgComponent(msg));
          }else{
            chattingCont.insertAdjacentHTML("beforeend",receiveMsgComponent(msg));
          }
        }else if(msg.status==="ENTER"){
          chattingCont.insertAdjacentHTML("beforeend",enterMsgComponent(msg));
        }else if(msg.status==="LEAVE"){
          chattingCont.insertAdjacentHTML("beforeend",leaveMsgComponent(msg));
        }
      });
      return true;
    }
  }
  function enterMsgComponent(msgObj){
    return `
        <div class="text-center">
            <div>
              <strong>
                ${msgObj.uId}
              </strong>
              <span>
                (${msgObj.nickname})
              </span>
              님 입장하셨습니다.
            </div>
            <div>
              <small>
                ${msgObj.postTime}
              </small>
            </div>
        </div>`;
  }
  function leaveMsgComponent(msgObj){
    return `
        <div class="text-center">
            <div>
              <strong>
                ${msgObj.uId}
              </strong>
              <span>
                (${msgObj.nickname})
              </span>
              님 퇴장하셨습니다.
            </div>
            <div>
              <small>
                ${msgObj.postTime}
              </small>
            </div>
        </div>`;
  }

  function receiveMsgComponent(msgObj){
    return`
        <section>
          <div class="d-flex justify-content-end mb-4">
            <div class="text-muted me-2 d-flex align-items-end">
              <small>
                ${msgObj.postTime}
              </small>
            </div>
            <div class="p-3 me-3 border rounded-2 bg-secondary bg-opacity-10">
                ${msgObj.content}
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center" style="width: 55px; height: 55px;">
              <strong>
                ${msgObj.uId}
              </strong>
              <span>
                ${msgObj.nickname}
              </span>
            </div>
          </div>
        </section>`;
  }
  function sendMsgComponent(msgObj){
    return`
      <section>
        <div class="d-flex justify-content-start mb-4">
          <div class="d-flex flex-column justify-content-center align-items-center" style="width: 55px; height: 55px;">
            <strong>
              ${msgObj.uId}
            </strong>
            <span>
              ${msgObj.nickname}
            </span>
          </div>
          <div class="p-3 ms-3 border rounded-2 bg-primary bg-opacity-10">
            ${msgObj.content}
          </div>
          <div class="text-muted ms-2 d-flex align-items-end">
            <small>${msgObj.postTime}</small>
          </div>
        </div>
      </section>`;
  }
</script>
</div>
