<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h1 class="my-4">
        <span th:text="${crId}"></span>
        채팅방 상세
    </h1>
    <div class="card">
        <div class="card-header">
            <h2 class="text-center mb-0">채팅 내역</h2>
        </div>
        <div class="card-body" id="msgCont">
        </div>
        <div class="card-footer">
            <form action="" class="input-group">
                <textarea class="form-control"></textarea>
                <button class="btn btn-outline-primary disabled">제출</button>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        const LOGIN_USER_ID=[[${session.loginUser.uId}]];
        const msgCont=document.getElementById("msgCont");
        let listUrl=`/chat/msg/[[${crId}]]/list.do`;
        document.addEventListener("DOMContentLoaded",async (e)=>{
            await loadMsgs();
        })

        async function loadMsgs(){
            const response=await fetch(listUrl);
            if(response.status===200){
                 const msgs=await response.json();
                 msgs.forEach((msg,i)=>{
                     if(msg.status==='CHAT'){
                         if(LOGIN_USER_ID===msg.uId){//로그인한 유저가 보낸메세지
                            msgCont.insertAdjacentHTML("beforeend",sendMsgComponent(msg));
                         }else{//받은메세지
                            msgCont.insertAdjacentHTML("beforeend",receiveMsgComponent(msg));
                         }
                     }else if(msg.status==="ENTER"){
                        msgCont.insertAdjacentHTML("beforeend",enterMsgComponent(msg));
                     }else if(msg.status==="LEAVE"){
                         msgCont.insertAdjacentHTML("beforeend",leaveMsgComponent(msg));
                     }
                 });
            }
        }




        function enterMsgComponent(msgObj){
            return `
            <div class="text-center">
                <strong>${msgObj.nickname}</strong>
                <small>(${msgObj.uId})</small>
                님 입장
                <br>
                <small class="text-muted">${msgObj.postTime}</small>
            </div>
            `;
        }
        function leaveMsgComponent(msgObj){
            return `
            <div class="text-center">
                <strong>${msgObj.nickname}</strong>
                <small>(${msgObj.uId})</small>
                님 퇴장
                <br>
                <small class="text-muted">${msgObj.postTime}</small>
            </div>
            `;
        }
        function receiveMsgComponent(msgObj){
            return `
            <div class="d-flex my-2">
                <div class="align-self-start d-flex flex-column">
                    <strong> ${msgObj.nickname}</strong>
                    <small> ${msgObj.uId}</small>
                </div>
                <div class="bg-primary bg-opacity-10 rounded-2 p-3 mx-2">
                    ${msgObj.content}
                </div>
                <div class="align-self-end">
                    <small class="text-muted">${msgObj.postTime}</small>
                </div>
            </div>
            `;
        }
        function sendMsgComponent(msgObj){
            return `
            <div class="d-flex my-2 justify-content-end">
                <div class="align-self-end">
                    <small class="text-muted">${msgObj.postTime}</small>
                </div>
                <div class="bg-warning bg-opacity-25 rounded-2 p-3 mx-2">
                    ${msgObj.content}
                </div>
                <div class="align-self-start d-flex flex-column">
                    <strong>${msgObj.nickname}</strong>
                    <small>${msgObj.uId}</small>
                </div>
            </div>
            `;
        }
    </script>
</div>