<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h1 class="my-4">
        <span th:text="${crId}"></span>
        채팅방 상세
    </h1>
    <div class="card">
        <div class="card-header">
            <h2 class="text-center mb-0">채팅 내역</h2>
        </div>
        <div class="card-body">
            <div>~~님 입장</div>
            <div>~~님 퇴장</div>
            <div class="d-flex my-2">
                <div class="align-self-start d-flex flex-column">
                    <strong>user01</strong>
                    <small>둘리</small>
                </div>
                <div class="bg-primary bg-opacity-10 rounded-2 p-3 mx-2">
                    호이~ 빙하타고 내려와~ 우후~ 친구를 만났지만~ 일억년전 옛날이~ 너무나나 그리워~
                </div>
                <div class="align-self-end">
                    <small>2023-04-25 17:35:04</small>
                </div>
            </div>
            <div class="d-flex my-2 justify-content-end">
                <div class="align-self-end">
                    <small>2023-04-25 17:35:04</small>
                </div>
                <div class="bg-warning bg-opacity-25 rounded-2 p-3 mx-2">
                    또치가 맞나요???
                </div>
                <div class="align-self-start d-flex flex-column">
                    <strong>user02</strong>
                    <small>또치</small>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form action="" class="input-group">
                <textarea class="form-control"></textarea>
                <button class="btn btn-outline-primary disabled">제출</button>
            </form>
        </div>
    </div>
</div>