<div>
  <a href="javascript:void(0)"
     class="btn btn-sm btn-light text-danger disabled" data-bs-toggle="tooltip" data-bs-title="좋아요" data-bs-placement="top">
    <i class="bi fs-4 bi-emoji-heart-eyes"></i>
    <span th:text="${likes.like}"></span>
  </a>
  <a href="javascript:void(0)"
     class="btn btn-sm btn-light text-primary disabled" data-bs-toggle="tooltip" data-bs-title="최고야">
    <i class="bi fs-4 bi-emoji-sunglasses"></i>
    <span th:text="${likes.best}"></span>
  </a>
  <a href="javascript:void(0)"
     class="btn btn-sm btn-light disabled" data-bs-toggle="tooltip" data-bs-title="나빠요">
    <i class="bi fs-4 bi-emoji-expressionless"></i>
    <span th:text="${likes.bad}"></span>
  </a>
  <a href="javascript:void(0)"
     class="btn btn-sm btn-light text-warning disabled" data-bs-toggle="tooltip" data-bs-title="슬퍼요">
    <i class="bi fs-4 bi-emoji-frown"></i>
    <span th:text="${likes.sad}"></span>
  </a>
</div>
