<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>게시판 리스트</title>
    <script src="/public/js/BoardLike.js" defer></script>
</head>
<p></p>
<div layout:fragment="content">
    <h1 class="my-4">게시판 리스트</h1>
    <nav aria-label="Page navigation example">
        <form action="" class="mx-auto" style="width: 450px">
            <div class="input-group">
                <label class="input-group-text bi bi-list-columns"></label>
                <select name="order" class="form-control">
                    <option value="">칼럼</option>
                    <option th:selected="(${#strings.equals(param.order,'b_id')})" value="b_id">글번호</option>
                    <option th:selected="(${#strings.equals(param.order,'u_id')})"value="u_id">글쓴이</option>
                    <option th:selected="(${#strings.equals(param.order,'post_time')})"value="post_time">작성일</option>
                    <option th:selected="(${#strings.equals(param.order,'update_time')})"value="update_time">수정일</option>
                    <option th:selected="(${#strings.equals(param.order,'title')})"value="title">제목</option>
                    <option th:selected="(${#strings.equals(param.order,'view_count')})"value="view_count">조회수</option>
                </select>
                <select name="direct" class="form-control">
                    <option value="">방향</option>
                    <option th:selected="(${#strings.equals(param.direct,'DESC')})" value="DESC">
                        내림차순
                    </option>
                    <option th:selected="(${#strings.equals(param.direct,'ASC')})" value="ASC">
                        오름차순
                    </option>
                </select>
                <button class="btn btn-primary">정렬</button>
            </div>
            <div class="input-group my-3">
                <label class="input-group-text bi bi-search"></label>
                <select name="searchField" class="form-control">
                    <option value="">칼럼</option>
                    <option th:selected="(${#strings.equals(param.searchField,'b_id')})" value="b_id">글번호</option>
                    <option th:selected="(${#strings.equals(param.searchField,'u_id')})"value="u_id">글쓴이</option>
                    <option th:selected="(${#strings.equals(param.searchField,'post_time')})"value="post_time">작성일</option>
                    <option th:selected="(${#strings.equals(param.searchField,'update_time')})"value="update_time">수정일</option>
                    <option th:selected="(${#strings.equals(param.searchField,'title')})"value="title">제목</option>
                    <option th:selected="(${#strings.equals(param.searchField,'content')})"value="content">내용</option>
                </select>
                <input type="text" class="form-control" name="searchValue" placeholder="검색어 입력"
                       th:value="${param.searchValue}">
                <button class="btn btn-primary">검색</button>
            </div>
        </form>
        <th:block th:include="/pageNav"></th:block>
    </nav>
    <section id="boardListCont" class="row row-cols-lg-2 row-cols-1 g-5">
       <th:block th:include="/board/includeList"></th:block>
    </section>
</div>
</html>