<div class="d-flex">
  <img th:src="@{'{path}'(path=${f.imgPath})}" class="border rounded-circle" style="width: 45px; height: 45px"/>
  <div class="ms-3">
    <div>
      <span th:text="${f.uId}"></span>
      <span th:if="${!f.following}" class="followCont">
        <i class="bi bi-dot"></i>
        <button class="btn btn-link p-0" th:onclick="following([[${f.uId}]],this)">팔루우</button>
      </span>
    </div>
    <div class="">
      <small th:text="${f.name}"></small>
    </div>
  </div>
</div>
