<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header d-flex justify-content-between pb-1 border-primary"
     th:classappend="${(session.loginUser!=null && session.loginUser.uId==r.uId)?'border-bottom':''}">
    <div>
        @<strong th:text="${r.uId}"></strong>
        <small class="text-muted">•</small>
        <a th:href="@{'/user/{uId}/follow.do'(uId=${r.uId})}">팔로우</a>
    </div>
    <small th:text="${#dates.format(r.updateTime,'yyyy-MM-dd')}"></small>
</div>
<div class="body p-1 row">
    <div th:if="${r.imgPath!=null}" class="col-4">
        <a href="#" role="button" th:data-bs-target="'#imgModal'+${r.brId}" data-bs-toggle="modal" >
            <img class="img-thumbnail w-100" style="max-height: 100px; object-fit: cover" th:src="@{'{path}'(path=${r.imgPath})}" alt="댓글 이미지">
        </a>
        <div th:id="'imgModal'+${r.brId}" class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="img-thumbnail w-100"  th:src="@{'{path}'(path=${r.imgPath})}" alt="댓글 이미지">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <span th:text="${r.content}"></span>
    </div>

</div>
<div class="footer d-flex justify-content-between align-items-center">
    <div class="likesCont">
        <a href="#" class="btn btn-sm btn-link" data-bs-toggle="tooltip" data-bs-title="좋아요" data-bs-placement="top">
            <i class="bi bi-emoji-heart-eyes fs-6"></i>
            <span th:text="${r.likes.like}"></span>
        </a>
        <a href="#" class="btn btn-sm btn-link" data-bs-toggle="tooltip" data-bs-title="최고야">
            <i class="bi bi-emoji-sunglasses fs-6"></i>
            <span th:text="${r.likes.best}"></span>
        </a>
        <a href="#" class="btn btn-sm btn-link" data-bs-toggle="tooltip" data-bs-title="나빠요">
            <i class="bi bi-emoji-expressionless fs-6"></i>
            <span th:text="${r.likes.bad}"></span>
        </a>
        <a href="#" class="btn btn-sm btn-link" data-bs-toggle="tooltip" data-bs-title="슬퍼요">
            <i class="bi bi-emoji-frown fs-6"></i>
            <span th:text="${r.likes.sad}"></span>
        </a>
    </div>
    <div>
        <a href="javascript:void(0)" th:onclick="replyInsertForm.parentBrId.value=[[${r.brId}]]">댓글 달기</a>
        <a href="javascript:void(0)"
           th:if="${session.loginUser!=null && session.loginUser.uId==r.uId}"
           th:onclick="loadModifyReply([[${r.brId}]])"
            class="ms-2">
            수정 폼
        </a>
    </div>
</div>
<ul class="list-group">
    <li class="list-group-item" th:each="r:${r.replies}">
        <th:block th:include="/reply/detail"></th:block>
    </li>
</ul>
</html>