<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:include="headerNav.html"></header>
    <h1>채팅방</h1>
    <main style="background-color: #eee;">
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">

                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <i class="fas fa-angle-left"></i>
                            <div class="fw-bold">WebSocket 채팅방
                            </div>
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="card-body" id="chattingCont">
                            <div class="d-none">
                                <section id="sentMsgContEx">
                                    <div class="d-flex justify-content-start mb-4">
                                        <div>
                                            <strong id="sendUser" class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 45px; height: 45px;">
                                                경민
                                            </strong>
                                        </div>
                                        <div id="sendMsg" class="p-3 ms-3 border rounded-2 bg-primary bg-opacity-10">
                                        </div>
                                        <div class="text-muted ms-2 d-flex align-items-end">
                                            <small id="sendDate">PM 03:44</small>
                                        </div>
                                    </div>
                                </section>
                                <section id="receivedMsgContEx">
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="text-muted me-2 d-flex align-items-end">
                                            <small id="receiveDate">
                                                <!-- 소켓으로 받아온 글쓴날짜-->
                                                PM 03:44
                                            </small>
                                        </div>
                                        <div id="receiveMsg" class="p-3 me-3 border rounded-2 bg-secondary bg-opacity-10">
                                            <!-- 소켓으로 받아온 글내용-->
                                        </div>
                                        <div>
                                            <strong id="receiveUser" class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 45px; height: 45px;">
                                                <!-- 소켓으로 받아온 유저이름-->
                                            </strong>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>
                        <form name="sendMsgForm" class="input-group">
                            <textarea class="form-control w-50" name="msg" rows="2"></textarea>
                            <button class="btn btn-info">전송</button>
                        </form>
                    </div>
                    <form name="connForm" class="input-group my-4 mx-auto w-75">
                        <strong class="input-group-text">채팅방 입장</strong>
                        <div class="form-floating">
                            <input class="form-control h-100" name="user" value="경민" placeholder="유저">
                            <label th:text="${session.loginUser.uId}+' 닉네임'"></label>
                        </div>
                        <button class="btn btn-primary">
                            접속
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script th:inline="javascript">
        const LOGIN_U_ID=[[${session.loginUser.uId}]];
        const URL="ws://localhost:8080/chat"
        const connForm=document.forms["connForm"];
        const sendMsgForm=document.forms["sendMsgForm"];
        const chattingCont=document.getElementById("chattingCont");
        const receivedMsgContEx = document.getElementById("receivedMsgContEx");
        const sentMsgContEx = document.getElementById("sentMsgContEx");
        let webSocket;
        let nickname;
        function MsgObj(nickname,msg,status=0){
            this.uId=LOGIN_U_ID;
            this.nickname=nickname;
            this.msg=msg;
            this.status=status; //0:메세지 1:접속, 2:퇴장
            this.sendDate=Date.now();
        }
        connForm.onsubmit=function (e){
            e.preventDefault();
            nickname=connForm.user.value;
            webSocket=new WebSocket(URL); //소켓 통신 시작
            //소켓객체 생성시 실행
            webSocket.onopen=function (e){
                const msgObj=new MsgObj(nickname,"입장하셨습니다.",1);
                webSocket.send(JSON.stringify(msgObj));
            }
            //소켓객체를 닫거나 브러우저를 빠져나가면 실행
            webSocket.onclose=function (e){
                const msgObj=new MsgObj(nickname,"퇴장하셨습니다.",2);
                webSocket.send(JSON.stringify(msgObj));
            }
            //메세지를 받으면 실행
            webSocket.onmessage=function (msg){
                const msgObj=JSON.parse(msg.data);
                if(msgObj.status===0){ //메세지 정송 받기
                    if( msgObj.uId===LOGIN_U_ID){//내가 보낸 메세지
                        const sentMsgCont=sentMsgContEx.cloneNode(true);
                        const sendMsg=sentMsgCont.querySelector("#sendMsg");
                        const sendDate=sentMsgCont.querySelector("#sendDate");
                        const sendUser=sentMsgCont.querySelector("#sendUser");
                        sendMsg.innerText=msgObj.msg;
                        sendDate.innerText=new Date(msgObj.sendDate).toLocaleDateString();
                        sendUser.innerText=`(${msgObj.uId})${msgObj.nickname}`;
                        chattingCont.append(sentMsgCont);
                    }else{
                        const receivedMsgCont=receivedMsgContEx.cloneNode(true);
                        const receivedMsg=receivedMsgCont.querySelector("#receiveMsg");
                        const receivedDate=receivedMsgCont.querySelector("#receiveDate");
                        const receivedUser=receivedMsgCont.querySelector("#receiveUser");
                        receivedMsg.innerText=msgObj.msg;
                        receivedDate.innerText=new Date(msgObj.sendDate).toLocaleDateString();
                        receivedUser.innerText=`(${msgObj.uId})${msgObj.nickname}`;
                        chattingCont.append(receivedMsgCont);
                    }
                }else{

                }


            }
        };
        sendMsgForm.onsubmit=function (e){
            e.preventDefault();
            let msg=sendMsgForm.msg.value;
            const msgObj=new MsgObj(nickname,msg);
            webSocket.send(JSON.stringify(msgObj));
        }
    </script>
</body>
</html>