<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <div layout:fragment="content">
        <h1 class="my-4">Spring Boot (Mybatis)로 댓글 게시판 만들기</h1>
        <h2>maven vs gradle</h2>

        <h2>객체지향 (OOP)vs 관점지향(Aspect-Oriented Programing)언어</h2>
        <ul>
            <li>객체지향 언어 : 필요할 때 객체를 생성 및 사용</li>
            <li>관점지향 언어 : 사용할 객체를 관리(container or factory)하다가 필요한 곳에 주입(DI)</li>
            <li>객체지향 언어 장점  : 코드 작성이 쉽고 흐름이 보인다(절차적 언어).</li>
            <li>관점지향 언어 장점1 : 객체를 필요할때 마다 생성하지 않기 때문에 메모리를 절약(서버환경에서 유리)</li>
            <li>관점지향 언어 장점2 : 공통 관점으로 코드를 분리해서 중복 코드를 줄이고 구조를 단순화 한다.(생산성 up,유지보수 up)</li>
            <li>관점지향 언어 장점3 : 객체를 생성하는 코드가 없기 때문에 기능을 동적으로 추가하는 것이 유리 </li>
            <li>객체지향 언어 단점 : 객체를 무분별하게 생성할 가능성이 높다.</li>
            <li>관점지향 언어 단점1 : 구현이 어렵고 흐름이 보이지 않는다.(spring 이 어려운 이유)</li>
            <li>관점지향 언어 단점2 : 관점지향을 구현하는 프레임워크(spring)에 의존적이다.</li>
        </ul>
        <h2>스프링의 관점지향 언어와 MVC 패턴</h2>
        <ul>
            <li>자바로 관점지향을 구현했기 때문에 객체지향 언의 장점을 포함한다.</li>
            <li>스프링 컨테이너가 객체(@Component)를 관리하고 있다가 @Autowired 로 정의된 필드에 객체 주입 (생성자)</li>
            <li>객체를 주입 :Dependency Injection (DI)</li>
            <li>@Controller : spring-web 에서 관리하는 객체로 http 통신의 요청과 응답을 처리</li>
            <li>@Service(Model) : db 접속의 트랙잭션을 관리</li>
            <li>thymeleaf (Template Engine : view) : src/resources/templates 하위의 html 을 view 로 렌더</li>
        </ul>
        <h2>spring-mybatis</h2>
        <ul>
            <li>mybatis : xml 로 작성된 sql을 java 객체로 맵핑</li>
            <li>spring-mybatis : spring 에서 mybatis를 사용할 수 있도록 최적화 되어있고
                sql(session)을 객체로 생성 관리하는 컨테이너(session factory)를 제공
            </li>
            <li>Mapper 인터페이스 작성 (@Mapper) : mybatis는 @Mapper가 정의된 인터페이스를 Mapper.xml에 정의된 sql로 컴포넌트를 생성</li>
            <li>Mapper xml : sql(Session) 을 관리하고 테이블의 관계의 관계를 정의해서 조인을 할 수 있다.</li>
            <li>**사용할 곳에서 의존성 주입(DependencyInjection) 받기 : session factory 가 @Mapper로 정의된 인터페이스를 객체로 만들어서 주입  </li>
        </ul>
        <h3>Spring Mybatis 설정</h3>
        <ol>
            <li>DataSource : resource>application.properties(yml) > spring:datasource:(url,username,password,driver-class-name) 작성
                (spring 컨테이너에서 db 를 접속 관리하는 객체 생성 => mybatis 컨포넌트에 주입)
            </li>
            <li>resourece 하위에 mapper xml 폴더를 만들고 application.properties에 mybaits:mapper-locations 작성</li>
            <li>인텔리제이의 MybatisX 플러그인 설치</li>
            <li>@Mapper 인터페이스 생성 및 추상메서드 정의</li>
            <li>인터페이스에서 마우스 오른쪽 클릭 > Show Context Action > [MabatisX] Generate Mabtis xml 클릭후 mapper-locations에 지정한 폴더에 xml 생성</li>
        </ol>
        <h3>Mapper.xml 정의 방법</h3>
        <ul>
            <li>mapper namespace="@Mapper 의 타입" : 컨포넌트(컨테이너에서 관리되는 객체)로 생성할 타입</li>
            <li>id="추상메서드 이름" : 쿼리가 실행될 메서드 정의</li>
            <li>select: DQL 작성 작성할 때 사용하는 태그 **resultType or resultMap 을 작성해야 한다.
                <ul>
                    <li>select 는 무조건 resultType 으로 정의된 객체나 java.util.List 를 반환 </li>
                    <li>만약 추상메서드에서 객체만 반환한다고 정의했는데 복수가 반환되면 오류가 발생한다.</li>
                    <li>resultType 으로 정의된 DTO 필드와 반환되는 테이블의 칼럼과 동일이한 이름이 있다면 맵핑해서 반환.</li>
                    <li>만약 칼럼과 필드명이 다르면 as 로 필드와 같은 이름을 만들거나 resultMap 을 정의하면된다.
                        (대부분의 db는 대소문자를 구분하지 않더라 이름규칙으로 _ 를 사용, 자바는 변수명의 규칙 낙타표기법을 사용(상수=="_" ) )
                    </li>
                    <li>만약 반환되는 타입을 resultMap 을 사용한다면 association, collection 으로 정의된 필드는 한번 더 조회한다.(조인처럼 동작)</li>
                </ul>
            </li>
            <li>delete,update,insert : DML 을 작성할 때 사용하고 몇개 성공했음의 정수(int,long)를 반환</li>
            <li>mybatis 와 매개변수(PreparedStatement) : Dto 의 필드명이나 변수명을 #{}을 작성하면 매개변수로 동작</li>
            <li>만약 필드명이나 변수명을 사용하고 싶지 않다면 @Param(value="바꿀이름")을 작성하면 된다.</li>
            <li>order by 에서 필드명을 매개변수로 받아야 한다면 ${}에 작성하면 된다. order by #{filed} => order by 'b_id' (동작 x)</li>
        </ul>
        <h3>resultMap</h3>
        <p>질의(DQL)의 결과를 자바객체(POJO,DTO)에 맵핑하는 역할과 객체간의 연관성을 표현 </p>
        <ul>
            <li>객체의 필드와 칼럼 맵핑</li>
            <li>복합 객체 맵핑 : Dto 에 존재하는 복수를 필드를 관계로 맵핑 </li>
            <li>상속 관계 맵핑 : Dto 의 부모 타입으로 맵핑</li>
            <li>컬렉션 맵핑 : 해당 테이블과 참조 관계에 있는 다른 테이블의 복수의 값을 조회해서 맵핑 가능</li>
            <li>collection(List(default),Map,Set), association(dto) : 해당 테이블과 참조 관계에 있는 다른 테이블을 조회</li>
            <li> property : 조회해서 맵핑할 필드</li>
            <li> select : 조회할 session(sql) id </li>
            <li> column : 조회할 sql 파라미터로 제공할 칼럼</li>
            <li> fetchType : [ eager | lazy ] 조회할 방식으로 즉시로딩과 지연로딩 설정할 수 있다.</li>
            <li> 지연로딩  : collection,association 에 정의한 필드를 (view에서) 호출(트리거)하면 조회 </li>
            <li> 즉시로딩  : 호출이 있지 않아도 조회</li>
        </ul>
        <h2>webJar</h2>
        <p>Gradle 과 Maven 같은 빌드 및 라이브러리(jar) 관리도구에서 클라이언트(js,css) 측 라이브러를 관리하는 방법</p>
        <h2>spring-boot-devtools 개발자 도구</h2>
        <ul>
            <li>spring 내부의 코드가 변경되면 서버 재시작 및 배포를 진행</li>
            <li>크롬 브라우저와 소켓 통신을 하다가 서버 재시작을 하면 브라우저를 새로고침 한다.</li>
            <li>intelliJ에서 컴파일러 설정에서 자동새로고침을 허용해야 한다.</li>
            <li>크롬 확장 프로그램에서 liveReload 를 추가해야 한다.</li>
            <li>https://chrome.google.com/webstore/detail/livereload%2B%2B/ciehpookapcdlakedibajeccomagbfab?hl=ko</li>
            <li>인텔리제이의 Build Project Automatically 설정이 체크되어 있는지 확인합니다. (File -> Settings -> Build, Execution, Deployment -> Compiler)</li>
            <li>인텔리제이의 고급설정>개발된 애플리케이션이 현재 실행 중인 경우에도 auto-make가 시작되도록 허용</li>
        </ul>
        <h2>spring-boot-start-web 웹앱을 개발하는 프레임워크</h2>
        <ul>
            <li>tomcat(10.~) 이 포함 (이클립스재단에서 개발중인 jakarta)</li>
            <li>톰캣 서블릿에 해당하는 컨트롤러(@Controller)를 작성할 수 있다.(요청과 응답 처리)</li>
            <li>컨트롤러를 작성할때 꼭 처음 생성된 패키지 하위에 작성해야한다.(component-scan : 어노테이션 검색 후 bean 객체 등록)</li>
            <li>Jackson 라이브러리가 포함되어 있어서 json 파싱을 편하게 작성할 수 있다.</li>
            <li>RESTFull API 를 제공 (다양한 메서드[GET,POST+PUT,DELETE,PATCH],패스의 파라미터 전송)</li>
            <li>
                <a href="/sum.do?a=1&b=10">sum.do?a=1&b=10</a>
            </li>
            <li>
                <a href="/mult.do?a=3&b=7">mult.do?a=3&b=7</a>
            </li>
        </ul>
        <h2>스프링 관점지향 언어 구현과 프록시 객체</h2>
        <p>IoC(제어의 역전) 컨테이너는 컨포넌트를 관리하고 주입하는데 컨포넌트에 추가적인 기능을 구현하기 위해 프록시를 생성 </p>
        <p>
            mybatis 지연로딩 : 디비에서 자료를 호출할때 필요한 곳(트리거 toString,get)이 있다면 호출
            (개발자가 작성한 Dto 클래스로는 지연로딩을 구현할 방법이 없다.)
        </p>
        <p>mybatis 가 지연로딩을 구현하기 위해 Dto 클래스를 기반으로 프록시(대리자) 객체를 구현( handler 필드 추가) 및 생성</p>
        <p>프록시 객체가 구현한 handler~ 필드들은 직렬화(Serializable)가 불가능 하다</p>
        <p>class UserDto{ String name; ...get,set} new UserDto("경민") jackson.jar(직렬화) => {\"name\" :\"경민\"}</p>
        <p>DTO 객체에 @JsonIgnoreProperties({"handler"}) 추가해서 직렬화가 불가능한 handler 필드를 제외~ </p>
    </div>
</html>