<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.springboardteacher.mapper.BoardMapper">
    <resultMap id="BoardMap" type="BoardDto">
        <id column="b_id" property="bId"/>
        <result column="content" property="content"/>
        <result column="title" property="title"/>
        <result column="u_id" property="uId"/>
        <result column="post_time" property="postTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="view_count" property="viewCount"/>
        <result column="login_user_like_status" property="loginUserLikeStatus"/>
        <!--  column : 조회 결과의 로우 중의 내역 (파라미터를 전달할 수 없다.)    -->
        <association property="likes"
                     select="com.acorn.springboardteacher.mapper.BoardLikeMapper.countStatusByBId"
                     column="b_id"
                     fetchType="eager"/>
        <association property="user"
                    select="com.acorn.springboardteacher.mapper.UserMapper.findByUId"
                    column="u_id"
                    fetchType="eager"/>
        <collection property="replies"
                    select="com.acorn.springboardteacher.mapper.BoardReplyMapper.findByBIdAndParentBrIdIsNull"
                    column="b_id"
                    fetchType="lazy"/>
        <collection property="imgs"
                    select="com.acorn.springboardteacher.mapper.BoardImgMapper.findByBId"
                    column="b_id"
                    fetchType="lazy"/>
        <collection property="tags"
                    select="com.acorn.springboardteacher.mapper.BoardHashTagMapper.findByBId"
                    column="b_id"
                    fetchType="lazy"/>
    </resultMap>
    <insert useGeneratedKeys="true" keyProperty="bId" id="insertOne" parameterType="BoardDto">
        INSERT INTO boards (u_id, title, content) VALUE (#{uId},#{title},#{content})
    </insert>
    <update id="updateOne" parameterType="BoardDto">
        UPDATE boards SET title=#{title},content=#{content} WHERE b_id=#{bId}
    </update>
    <update id="updateStatusByBId" parameterType="BoardDto">
        UPDATE boards SET status=#{status} WHERE b_id=#{bId}
    </update>
    <update id="updateIncrementViewCountBId">
        UPDATE boards SET view_count=( view_count+1 ) WHERE b_id=#{bId}
    </update>
    <delete id="deleteOne">
        DELETE FROM boards WHERE b_id=#{bId}
    </delete>
    <select id="findAll" resultMap="BoardMap">
        SELECT * FROM boards
        <if test="searchField!=null and searchValue!=null">
            WHERE ${searchField} LIKE CONCAT('%',#{searchValue},'%')
        </if>
    </select>
    <select id="findByBId" resultMap="BoardMap">
        SELECT *
        FROM boards WHERE b_id=#{bId}
    </select>
    <select id="findByTag" resultMap="BoardMap">
        SELECT boards.*
            FROM boards INNER JOIN board_hashtags
            USING (b_id)
            WHERE tag=#{tag}
    </select>
</mapper>