<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.springboardteacher.mapper.ChatRoomMapper">
    <resultMap id="ChatRoomMap" type="com.acorn.springboardteacher.dto.ChatRoomDto">
        <id property="crId" column="cr_id"/>
        <result property="uId" column="u_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="postTime" column="post_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="findAll" resultMap="ChatRoomMap">
        SELECT * FROM chat_rooms
    </select>
</mapper>