<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.springboardteacher.mapper.HashTagMapper">
    <resultMap id="HashTagMap" type="HashTagDto">
        <id property="hId" column="h_id"/>
        <result property="name" column="name"/>
        <association property="rCnt"
                     select="replyHashTagCountByHId"
                     column="h_id"/>
        <association property="bCnt"
                     select="boardHashTagCountByHId"
                     column="h_id"/>
    </resultMap>
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="bId" parameterType="HashTagDto">
        INSERT INTO hashtags (h_id, name) VALUE (#{hId}, #{name})
    </insert>
    <insert id="replyHashTagInsertOne" parameterType="BoardHashTagDto">
        INSERT INTO board_hashtags (b_id, h_id) VALUE (#{bId}, #{hId})
    </insert>
    <insert id="boardHashTagInsertOne" parameterType="ReplyHashTagDto">
        INSERT INTO reply_hashtags (br_id, h_id) VALUE (#{brId}, #{hId})
    </insert>
    <select id="findByNameContaining" resultMap="HashTagMap">
        SELECT * FROM hashtags WHERE name LIKE CONCAT(#{name},'%')
    </select>
    <select id="boardHashTagCountByHId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM board_hashtags WHERE h_id=#{hId}
    </select>
    <select id="replyHashTagCountByHId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM reply_hashtags WHERE h_id=#{hId}
    </select>
    <select id="findByName" resultType="HashTagDto" >
        SELECT * FROM hashtags WHERE name=#{name}
    </select>
</mapper>