<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acorn.springboardteacher.mapper.ReplyHashTagMapper">
    <resultMap id="ReplyHashTagMap" type="ReplyHashTagDto">
        <id property="rhId" column="rh_id"/>
        <result property="tag" column="tag"/>
        <result property="brId" column="br_id"/>
    </resultMap>
    <select id="countByTag" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM reply_hashtags WHERE tag=#{tag}
    </select>
    <select id="findByBrId" resultMap="ReplyHashTagMap">
        SELECT * FROM reply_hashtags WHERE br_id=#{brId}
    </select>
    <insert id="insertOne" parameterType="ReplyHashTagDto">
        INSERT INTO reply_hashtags (br_id, tag) VALUE (#{brId}, #{tag})
    </insert>

</mapper>